{% extends 'base.html' %}

{% block title %} Cadastro de Setores {% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container-sm">
    {%if messages %}
    <div>
        {% for massage in messages %}
            <div class="alert alert-{{massage.tags}} alert-dismissible fade show" role="alert">
                {{massage}}
                <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            Cadastrar Setores
        </div>
        <div class="card-body">
            <form method="POST"
            action="{% if setor.id %} 
                         {% url 'editar_setor' setor.id %}
                    {% else %}
                         {% url 'criar_setor' %}
                    {% endif %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                </div>
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    {{ form.ramal.label_tag }}
                    {{ form.ramal }}
                </div>
                <div class="mb-3">
                    {{ form.instituicao.label_tag }}
                    {{ form.instituicao }}
                </div>
                <input type="hidden" id="{{setor.id}}">
                <button type="submit" class="btn btn-primary">Salvar</button>    
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Lista de Setores
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>#id</td>
                            <td>Setor</td>
                            <td>Email</td>
                            <td>Ramal</td>
                            <td>Instituicão</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in lista_setores %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.nome}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.ramal}}</td>
                            <td>{{i.instituicao}}</td>
                            <td><a href="{% url 'editar_setor' i.id %}"  class="btn btn-primary">Alterar</a></td>
                                <td><a href="{% url 'excluir_setor' i.id %}" class="btn btn-primary" onclick="confirmDelete(event, this);">Excluir</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(event, element) {
        event.preventDefault();  // Impede o link de ser seguido imediatamente
        Swal.fire({
            title: 'Tem certeza?',
            text: "Você não poderá desfazer esta ação! Lembre-se caso tenha setores cadastrados estes serão excluidos também!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, excluir!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = element.href;  // Se confirmado, segue o link de exclusão
            }
        })
    }
    </script>
{% endblock %}